<% if(alerts.error) { %>
  <% alerts.error.forEach(function(msg){ %>
    <div class="alert alert-danger text-center"> <%= msg %></div>
  <% }); %>
<% } %>


<% if(alerts.success){ %>
  <% alerts.success.forEach(function(msg){ %>
    <div class="alert alert-success text-center"> <%= msg %></div>
  <% }); %>
<% } %>