<div>
  <a href="<%= product.productLink %>">
    <img src="<%= product.imageLink %>">
  </a>
  <h3><%= product.name %></h3>
  <form method="POST" action="/delete">
    <input hidden type="text" name="id" value="<%= product.id %>">
    <input type="submit" name="submit" value="Delete">
  </form>
</div>    