<img src="/public/img/happyFace.jpg" class="happyFace">
<h1>Happy Face</h1>

<div class="container box">
    <form>
      <div>
        <input type="text" name="Search" placeholder="Enter product name">
        <input type="submit" name="Submit">
      </div>
      <!-- API only allows for single tag searches -->
      <input type="radio" name="tag" value="product_tags=vegan"><label>Vegan</label>
      <input type="radio" name="tag" value="product_tags=natural"><label>Natural</label>
      <input type="radio" name="tag" value="product_tags=organic"><label>Organic</label>
      <input type="radio" name="tag" value="product_tags=fairtrade"><label>Fair Trade</label>
      <input type="radio" name="tag" value="product_tags=gluten free"><label>Gluten Free</label>
      <input type="radio" name="tag" value="product_tags=non-gmo"><label>Non-GMO</label>
      <br>
      <label>Brand:</label>
      <select>
        <option value="" default>Any</option>
        <option value="brand=almay">Almay</option>
       <!--  <option value="brand=anna sui">Anna Sui</option> -->
        <option value="brand=annabelle">Annabelle</option>
        <option value="brand=benefit">Benefit</option>
       <!--  <option value="brand=burt's bees">Burt's Bees</option> -->
       <!--  <option value="brand=butter london">Butter London</option> -->
       <!--  <option value="brand=cargo cosmetics">Cargo Cosmetics</option> -->
       <!--  <option value="brand=china glaze">China Glaze</option> -->
        <option value="brand=covergirl">Covergirl</option>
        <option value="brand=dalish">Dalish</option>
       <!--  <option value="brand=dr. hauschka">Dr. Hauschka</option> -->
        <option value="brand=e.l.f.">E.L.F.</option>
        <option value="brand=essie">Essie</option>
        <option value="brand=iman">Iman</option>
        <option value="brand=l'oreal">L'Oreal</option>
        <option value="brand=marcella">Marcella</option>
        <option value="brand=maybelline">Maybelline</option>
        <option value="brand=milani">Milani</option>
      <!--   <option value="brand=mineral fusion">Mineral Fusion</option> -->
        <option value="brand=misa">Misa</option>
        <option value="brand=mistrua">Mistura</option>
        <option value="brand=moov">Moov</option>
        <option value="brand=nyx">NYX</option>
        <option value="brand=orly">Orly</option>
        <option value="brand=pacifica">Pacifica</option>
      <!--   <option value="brand=physicians formula">Physicians Formula</option>
        <option value="piggy paint">Piggy Paint</option>
        <option value="pure anada">Pure Anada</option> -->
        <option value="revlon">Revlon</option>
      <!--   <option value="salon perfect">Salon Perfect</option> -->
        <option value="sante">Sante</option>
     <!--    <option value="sinful colours">Sinful Colours</option>
        <option value="smashbox">Smash Box</option> -->
        <option value="stila">Stila</option>
        <option value="suncoat">Suncoat</option>
       <!--  <option value="wet n wild">Wet n' Wild</option> -->
        <option value="zorah">Zorah</option>
      </select>
    </form>
</div>