<h1>Results</h1>


<% var searchEntered = false; %>
<% var attemptedMatch = false; %>
<% var runThrough = false; %>

<% if (productName !== " "){ %>
  <% searchEntered = true; %>
<% } %>

<% if (results.length > 0){ %>
  <% results.forEach(function(result){ %>
    <% if (searchEntered && result.name.includes(productName) && result.product_type !== "eyebrows"){ %>
      <% include ./partials/result.ejs %>
      <% runThrough = true %>
    <% }else if(searchEntered){ %>
      <% attemptedMatch = true; %>
    <% } %>
    <% if (searchEntered == false && result.product_type !== "eyebrows"){ %>
      <% include ./partials/result.ejs %>
    <% } %>
  <% }) %>
  <% if (attemptedMatch && runThrough == false){ %>
    <h3>Sorry, no products currently match your search terms.</h3>
  <% } %>
<% }else{ %>
  <h3>Sorry, no products currently match your search terms.</h3>
<% } %>

