<img class="vanityIcon" src="./img/vanity.png">
<h1>My Vanity</h1>

<div class="text-center box">
 
  <div class="vanity">
    <div class="vanity">
      <form class="vanity vanityButtons" method="GET" action="/productType/face">
        <input hidden type="text" name="productType" value="blush">
        <button class="btn btn-link" type="submit" name="submit"><img class="vanityImgs" src="./img/blush.png">Blush</button>
      </form>
    </div>
    <div class="vanity">
      <form class="vanity vanityButtons" method="GET" action="/productType/face">
        <input hidden type="text" name="productType" value="bronzer">
        <button class="btn btn-link" type="submit" name="submit"><img class="vanityImgs" src="./img/bronzer.png">Bronzer</button>
      </form>
    </div>
    <div class="vanity"> 
      <form class="vanity vanityButtons" method="GET" action="/productType/face">
        <input hidden type="text" name="productType" value="eyeliner">
        <button class="btn btn-link" type="submit" name="submit"><img class="vanityImgs" src="./img/eyeliner.png">Eyeliner</button>
      </form>
    </div>
  </div>

  <div class="vanity">
    <div class="vanity">
      <form class="vanity vanityButtons" method="GET" action="/productType/face">
        <input hidden type="text" name="productType" value="eyeshadow">
        <button class="btn btn-link" type="submit" name="submit"><img class="vanityImgs" src="./img/eyeshadow.png">Eyeshadow</button>
      </form>
    </div>
    <div class="vanity">
      <form class="vanity vanityButtons" method="GET" action="/productType/face">
        <input hidden type="text" name="productType" value="foundation">
        <button class="btn btn-link" type="submit" name="submit"><img class="vanityImgs" src="./img/foundation.png">Foundation</button>
      </form>
    </div>
    <div class="vanity">
      <form class="vanity vanityButtons" method="GET" action="/productType/face">
        <input hidden type="text" name="productType" value="lipliner">
        <button class="btn btn-link" type="submit" name="submit"><img class="vanityImgs" src="./img/lipliner.png">Lipliner</button>
      </form>
    </div>
  </div>

  <div class="vanity">  
    <div class="vanity">
      <form class="vantiy vanityButtons" method="GET" action="/productType/face">
        <input hidden type="text" name="productType" value="lipstick">
        <button class="btn btn-link" type="submit" name="submit"><img class="vanityImgs" src="./img/lipstick.png">Lipstick</button>
      </form>
    </div>
    <div class="vanity">
      <form class="vanity vanityButtons" method="GET" action="/productType/face">
        <input hidden type="text" name="productType" value="mascara">
        <button class="btn btn-link" type="submit" name="submit"> <img class="vanityImgs" src="./img/mascara.png">Mascara</button>
      </form>
    </div>
    <div class="vanity">
      <form class="vanity vanityButtons" method="GET" action="/productType/face">
        <input hidden type="text" name="productType" value="nail_polish">
        <button class="btn btn-link" type="submit" name="submit"><img class="vanityImgs" src="./img/nailpolish.png">Nailpolish</button>
      </form> 
    </div>
  </div> 
</div>
