<h1>My Vanity</h1>

<div class="text-center box">
  <a class="btn btn-link type" href="./productType/blush">Blush</a>
  <a class="btn btn-link type" href="./productType/bronzer">Bronzer</a>
  <a class="btn btn-link type" href="./productType/eyeliner">Eyeliner</a>
  <a class="btn btn-link type" href="./productType/eyeshadow">Eyeshadow</a>
  <a class="btn btn-link type" href="./productType/foundation">Foundation</a>
  <a class="btn btn-link type" href="./productType/lipliner">Lip Liner</a>
  <a class="btn btn-link type" href="./productType/lipstick">Lipstick</a>
  <a class="btn btn-link type" href="./productType/mascara">Mascara</a>
  <a class="btn btn-link type" href="./productType/nailpolish">Nail Polish</a>
</div>