<h1>My Vanity</h1>

<div class="text-center box">

  <div class="vanityRow">
    <div class="vanityNav">
      <form class="vanityButtons" method="GET" action="/productType/face">
        <input hidden type="text" name="productType" value="blush">
        <input class="btn btn-link" type="submit" name="submit" value="Blush">
      </form>
    </div>
    <div class="vanityNav">
      <form class="vanityButtons" method="GET" action="/productType/face">
        <input hidden type="text" name="productType" value="bronzer">
        <input class="btn btn-link" type="submit" name="submit" value="Bronzer">
      </form>
    </div>
    <div class="vanityNav"> 
      <form class="vanityButtons" method="GET" action="/productType/face">
        <input hidden type="text" name="productType" value="eyeliner">
        <input class="btn btn-link" type="submit" name="submit" value="Eyeliner">
      </form>
    </div>
  </div>

  <div class="vanityRow">
    <div class="vanityNav">
      <form class="vanityButtons" method="GET" action="/productType/face">
        <input hidden type="text" name="productType" value="eyeshadow">
        <input class="btn btn-link" type="submit" name="submit" value="Eyeshadow">
      </form>
    </div>
    <div class="vanityNav">
      <form class="vanityButtons" method="GET" action="/productType/face">
        <input hidden type="text" name="productType" value="foundation">
        <input class="btn btn-link" type="submit" name="submit" value="Foundation">
      </form>
    </div>
    <div class="vanityNav">
      <form class="vanityButtons" method="GET" action="/productType/face">
        <input hidden type="text" name="productType" value="lipliner">
        <input class="btn btn-link" type="submit" name="submit" value="Lipliner">
      </form>
    </div>
  </div>

  <div class="vanityRow">  
    <div class="vanityNav">
      <form class="vanityButtons" method="GET" action="/productType/face">
        <input hidden type="text" name="productType" value="lipstick">
        <input class="btn btn-link" type="submit" name="submit" value="Lipstick">
      </form>
    </div>
    <div class="vanityNav">
      <form class="vanityButtons" method="GET" action="/productType/face">
        <input hidden type="text" name="productType" value="mascara">
        <input class="btn btn-link" type="submit" name="submit" value="Mascara">
      </form>
    </div>
    <div class="vanityNav">
      <form class="vanityButtons" method="GET" action="/productType/face">
        <input hidden type="text" name="productType" value="nail_polish">
        <input class="btn btn-link" type="submit" name="submit" value="Nailpolish">
      </form> 
    </div>
  </div> 
</div>
