body{
  background-color: rgba(121,64,68, .8);
}
header{
  margin: 1%;
}
a{
  color: black;
}
.btn{
  color: black;
}
.type{
  font-size: 20px;
}
.navButtons{
  display: inline-block;
  background-color: white;
  width: 75%;
  border-radius: 10px;
}
.log{
  display: inline-block;
}
.btn-link{
  margin-left: 2%;
}
h1{
  font-size: 80px;
}
.happyFace{
  border-radius: 50%;
}
.box{
  background-color: rgba(190,151,151, .9);
}
.result{
  display: inline-block;
  max-width: 33%;
  background-color: cream;
}